TOKEN=seu_token_aqui
BOT_USERNAME=seu_bot_username
WAITING_TIME=120
TIME_REMOVAL_AFTER_SKIP=20
MIN_FAST_TURN_TIME=15
MIN_PLAYERS=2
DEFAULT_GAMEMODE=fast
DATABASE_URL=postgres://malbs@localhost:5432/unobot
